@model StudentManagement.Models.Student
@{
    ViewData["Title"] = "Edit Student";

}
<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StudentCode"></label>
        <input asp-for="StudentCode" class="form-control" />
        <span asp-validation-for="StudentCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BirthDay"></label>
        <input asp-for="BirthDay" type="date" class="form-control" />
        <span asp-validation-for="BirthDay" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

